
tr {
  padding-top:50px;
  height:50px;
  border: 20px solid black;
  border-style: groove;
   ;
}
table {
  border: 20px solid black;
  top: 50px;
  border-style: groove;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  position: fixed;
  top: 60px;
  width:100%;
}
li{
  float:left;
  color:white;
  font-family: sans-serif;
}
li a {
  display:block;
  color:white;
  padding:10px 50px;
  text-decoration: none;
}
div {
  height: 50px;
  background-color: white;

}
h1
{
  font-family: fantasy;
  color:#cc3333;
  position: fixed;

}
span {
  font-size: 20px;
  color:#cc3333;
}
p {
  font-size: 20px;
  color:#cc3333;
  font-family: fantasy;;
  text-align: center;
}
